/.vscode/

/CMake/Demo/.idea/
/CMake/Demo/calc/bin/
/CMake/Demo/calc/include/
/CMake/Demo/calc/lib/
/CMake/Demo/cmake-build-debug/
/CMake/Demo/cmake-build-release/
/CMake/Demo/out/

/CMake/Note/04Guides/01CMakeTutorial/*/build/
